<div id="ec" style="max-width: 100%; margin: auto;"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build/dist/event-calendar.min.css">
<script src="https://cdn.jsdelivr.net/npm/@event-calendar/build/dist/event-calendar.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const events = [
    {{- range .Site.RegularPages }}
      {{- with .Params.events }}
        {{- range . }}
          {
            display: "auto",
            title: {{ .title | jsonify }},
            start: {{ .start | jsonify }},            
            {{ with .end }}end: {{ . | jsonify }},{{ end }}
            
            {{- $colors := dict "zoom1" "#ff0000" "zoom2" "#00ff00" "zoom3" "#0000ff" -}}
            {{ if isset . "category" }}
                backgroundColor: {{ index $colors .category | default "#008800" }},
                
            {{ end }}
            
          },
        {{- end }}
      {{- end }}
    {{- end }}
  ];

  let ec = EventCalendar.create(
    document.getElementById('ec'),
    {
      view: 'timeGridWeek',
      date: '2025-08-12',
      firstDay: 1,
      events: events
    }
  );
});
</script>
