<div id="ec" style="max-width: 100%; margin: auto;"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build/dist/event-calendar.min.css">
<script src="https://cdn.jsdelivr.net/npm/@event-calendar/build/dist/event-calendar.min.js"></script>

<style>
.entry-content h4 {
    margin-top: 0;  /* override this value */
    color: yellow;
    font-size: 0.9em;
}    
</style>
<script>
document.addEventListener("DOMContentLoaded", function() {
   {{- $colors := dict "zoom1" "#ee0000" "zoom2" "#00aa00" "zoom3" "#0000ff" "zoom4" "#D100D1" -}}

  const events = [
    {{- range .Site.RegularPages }}
      {{- with .Params.events }}
        {{- range . }}
          {
            display: "auto",
            title: {{ .title  }},
            start: {{ .start  }},   
            {{ with .end }}end: {{ . }},{{ end }}
            
            
            {{ if isset . "category" }}
                backgroundColor: {{ index $colors .category | default "#008800" }},
                
            {{ end }}
            
          },
        {{- end }}
      {{- end }}
    {{- end }}
  ];

  let ec = EventCalendar.create(
    document.getElementById('ec'),
    {
      view: 'timeGridWeek',
      date: '2025-08-12',
      firstDay: 1,
      events: events
    }
  );

  
});
</script>
 <ul><h3>Legend</h3>
    {{- range $key, $value := $colors }}
        - <span style="background-color:{{ $value }}; color:white"> {{ $key }}</span> &nbsp; 
    {{- end }}
</ul>    